@media(max-width:1680px) {
    .referralbanner {
        background: url("../images/img-referrals.jpg") no-repeat -200px top;
    }
    .contentplusbanner .contentplusbannercontent {
        margin-right: 6%;
        max-width: 43%;
        padding-top: 5%;
    }

    .nitronetsbanner .nitronetbannercontent {
        max-width: 30%;
        margin-right: 1%;
        padding-top: 7%;
    }


.homeblock7{ width: 100%; position: relative;  background: url("../images/block7img.png") no-repeat  right top; background-size: 1680px; height: 670px;}



    .homeblock7 .container h2{ padding: 140px 0 0 0;}



    .contentpls_body2{  background-position: -230px bottom; }
    .datapartnerbanner {
        background: url("../images/img-bannerpartner.jpg") no-repeat -94px top;
        background-size: cover;
    }
    .datapartnerbanner .datapartnerbannercontent {
        max-width: 50%;
        margin-left: 34%;
    }
    .autobanbanner {
        background: url("../images/img-bannerautoban.jpg") no-repeat -176px top;
    }
}



@media(max-width:1666px) {

    .homeblock7{ width: 100%; position: relative;  background: url("../images/block7img.png") no-repeat  right top; background-size: 1666px; height: 664px;}



    .contentpls_body2{  background-position: -246px bottom; }

}





@media(max-width:1600px) {
    .nitronetsbanner .nitronetbannercontent {
        max-width: 44%;
        float: right;
        margin-right: 2%;
        font-size: 23px;
        padding-top: 2%;
    }
    .homeblock7{ width: 100%; position: relative;  background: url("../images/block7img.png") no-repeat  right top; background-size: 1600px; height: 638px;}



    .contentpls_body2{  background-position: -280px bottom; }
    .sidecarbanner .sidecarbannercontent {
        max-width: 50%;
    }
}


@media(max-width:1400px) {

    .datapartnerbanner {
        background: url("../images/img-bannerpartner.jpg") no-repeat 0px top;
    }
    .contentplusbanner .contentplusbannercontent {
        margin-right: 3%;
        max-width: 41%;
        padding-top: 3%;
    }
}


@media(max-width:1366px) {
    .nitronetsbanner .nitronetbannercontent {
        float: right;
        font-size: 23px;
        margin-right: 2%;
        max-width: 50%;
    }
    .nitronetsbanner {
        background: rgba(0, 0, 0, 0) url("../images/img-bannernitronet.jpg") no-repeat scroll -200px top / cover ;
    }
    
    .sidecarbanner {
        background: url("../images/img-bannersidecar.jpg") no-repeat -266px top;
    }
    .sidecarbanner .sidecarbannercontent {
        max-width: 46%;
    }
    .autobanbanner {
        background: url("../images/img-bannerautoban.jpg") no-repeat -273px top;
    }

    .homeblock7{ width: 100%; position: relative;  background: url("../images/block7img.png") no-repeat  right top; background-size: 1366px; height: 544px;}

    .contentpls_body2{  background-position: -395px bottom; }


.aboutstateiada_row_botom_wrapper{ width:100%; margin:30px auto;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row3{ margin-top:8px;}
.aboutstateiada_row_botom_wrapper .aboutstateiada_row4{ margin-top:8px;}
.aboutstateiada_row_botom_wrapper .aboutstateiada_row5{ margin-top:8px;}
.aboutstateiada_row_botom_wrapper .aboutstateiada_row6{ margin-top:8px;}
.aboutstateiada_row_botom_wrapper .aboutstateiada_row7{ margin-top:8px;}
.aboutstateiada_row_botom_wrapper .aboutstateiada_row8{ margin-top:8px;}
.aboutstateiada_row_botom_wrapper .aboutstateiada_row9{ margin-top:8px;}
.aboutstateiada_row_botom_wrapper .aboutstateiada_row10{ margin-top:8px;}
.aboutstateiada_row_botom_wrapper .aboutstateiada_row11{ margin-top:8px;}
.aboutstateiada_row_botom_wrapper .aboutstateiada_row12{ margin-top:8px;}
.aboutstateiada_row_botom_wrapper .aboutstateiada_row13{ margin-top:8px;}
.aboutstateiada_row_botom_wrapper .aboutstateiada_row14{ margin-top:8px;}
.aboutstateiada_row_botom_wrapper .aboutstateiada_row15{ margin-top:8px;}
.aboutstateiada_row_botom_wrapper .aboutstateiada_row16{ margin-top:8px;}
    .referralbanner {
        background: url("../images/img-referrals.jpg") no-repeat -274px top;
    }
    .contentplusbanner .contentplusbannercontent {
        max-width: 43%;
        float: right;
        margin-right: 4%;
        color: #000;
        font-size: 23px;
        padding-top: 4%;
    }
    .contentplusbanner {
        background: url("../images/img-bannercontent.jpg") no-repeat -65px top;
        height: 450px;
        padding: 30px 10px;
        background-size: cover;
    }
}









@media(max-width:1360px) {

.topnavbar .container{ padding:0; width:100%; margin:0 auto;}

.topnavbar  ul li{ padding:0 20px;}



}



@media(max-width:1310px) {
    .referralbanner {
        background: url("../images/img-referrals.jpg") no-repeat -310px top;
    }

    .autobanbanner {
        background: url("../images/img-bannerautoban.jpg") no-repeat -331px top;
        height: 450px;
        padding: 30px 10px;
        background-size: cover;
    }
    .block4_text2{ width: 795px; margin:20px 0 0 0px; }



    .block4img{  width: 400px; }



}



@media(max-width:1280px) {
    .autobanbanner .autobanbannercontent {
        max-width: 60%;
    }
.contentpls_body2{  background-position: -440px bottom; }
    .sidecarbanner {
        background: url("../images/img-bannersidecar.jpg") no-repeat -360px top;
    }
    .sidecarbanner .sidecarbannercontent {
        max-width: 44%;
    }
    .contentplusbanner {
        background: url("../images/img-bannercontent.jpg") no-repeat -129px top;
        height: 450px;
        padding: 30px 10px;
        background-size: cover;
    }
    .contentplusbanner .contentplusbannercontent {
        margin-right: 3%;
        max-width: 40%;
        padding-top: 3%;
    }

}


@media(max-width:1200px) {
    .contentplusbanner {
        background: url("../images/img-bannercontent.jpg") no-repeat -134px top;
        height: 450px;
        padding: 30px 10px;
        background-size: cover;
    }
}


@media(max-width:1199px) {

    .homebannerslider{ width:100%; overflow: inherit;}

    .referrals_newblog_wrapper {

        margin: 0 auto;
        margin-bottom: 40px;
        width: 835px;

    }
    .homebannerslider .bannersliderbox .bannerslidertext{ bottom:30px!important;}

    .homebannerslider .bannersliderbox .bannerslidertext h1::after{ margin-top:30px!important; margin-bottom:26px!important;}




    .sidecarbanner {
        background: url("../images/img-bannersidecar.jpg") no-repeat -410px top;
    }
    .sidecarbanner .sidecarbannercontent {
        max-width: 44%;
    }



    .postsbycategorymain{ width: 90%;}



.aboutstateiada_imgblock1 img{ float:none; margin:30px auto; max-width:100%; display:block; margin-bottom:20px;}

.preferred_partners_block2{ width:90%; margin-left:auto; margin-right:auto; text-align:center;}


.preferred_partners_block3{ width:90%; margin-left:auto; margin-right:auto; text-align:center;}

.preferred_partners_block2_top h2{ width:100%; float:none; text-align:center; padding: 0px;}

.preferred_partners_block2_top img{ float:none; display:block; margin:0 auto; margin-bottom:15px;}



.preferred_partners_topwrapper{ background: url("../images/patimg1.png") no-repeat center top; padding-top:230px;}

.preferred_partners_block1_wrapper{ display:none;}

.preferred_partners_block2_wrapper{ display:block; padding-top:35px;}


.preferred_partners_block1{  padding:0 0 0 0; border-left:none; font-size:24px; color:#484747; text-transform:uppercase; line-height:36px; font-family: "OpenSans-Semibold"; margin:0 0 30px 0; text-align:center;}


.nitronetdps_block1 {
    width: 100%;
}

.nitronetdps_block1 h2{ margin-top:30px;}


.nitronetdps_block2_left{ padding-top:30px; float:none; padding-left:0px; padding-right:0px;}
.nitronetdps_block3_right{ float:none; padding-left:0px; padding-right:0px;}

.nitronetdps_block3_left{ float:none; padding-left:0px; padding-right:0px;}

.nitronetdps_block3_right h2{ line-height:56px;}


.nitronetdps_block3_left .nitronetdps_block3_img1{ max-width:100%;}
.nitronetdps_block2_single{ text-align:center; margin-bottom: 30px;}
.nitronetdps_block3_right .divider{ margin:14px auto;}


.nitronetdps_block2_center{ display:none;}

.nitronetdps_block3_right {
    float: none!important;
    padding-left: 0!important;
    text-align: center!important;
}

.nitronetdps_block2_single h2 {
    border-bottom: 2px solid #fc0000;
    border-left: medium none;
    color: #232323;
    font-family: "OpenSans-Semibold";
    font-size: 20px;
    line-height: 33px;
    margin-bottom: 12px;
    padding-bottom: 6px;
    padding-left: 0;
    text-transform: uppercase;
}

.about_niada_5{ display:block; margin:50px auto; max-width:100%; margin-bottom:30px}

    .productsstandardhosting_block2 label{ text-align: center;}



    .footermenu .dropdown-menu li{ padding: 0!important;}



.topnavbar{ padding:0px;}



 .responsivemenu {

display:inline-block;

 font-family:'OpenSans-Semibold';

font-size:22px;

color:#f0efed;

font-weight:bold;

padding:6px 0 0 15px; float:left;

}

 

 .toplogo{ float:none; margin:15px auto;}

 

 .topmenu{ width:100%; padding:2px 0 0 0; float:none; background:#101010;}

 

 .topnavbar { border:none;}

 

 .topnavbar .navbar-header {

 float: none;

}

 .topnavbar .navbar-toggle {

 display: block;

 border:none!important

}

 .topnavbar .navbar-collapse.collapse {

 display: none!important;

 border:none!important

}

.topnavbar  .navbar-nav {

 float: none!important;

 border:none!important

}

 .topnavbar .navbar-nav>li {

 float: none;

}

 .topnavbar .collapse.in {

 display: block !important;

}





.navbar-collapse{ padding:0;  }



.navbar-header{ border-bottom:solid 1px #282828!important;}









.topnavbar  ul li{ border-bottom:solid 1px #282828; padding:0 0;}



.topnavbar  ul li a{ display:block; padding:12px 0;}





.topnavbar  ul li a:hover{color:#fff!important; background:#ed2124!important;}



.topnavbar  ul li a.active{  color:#fff!important; background:#ed2124!important;}



.topnavbar  ul li:last-child{ border:none;}

















.homebannerslider .bannersliderbox .bannerslidertext{  bottom:10%; } 



.homebannerslider .bannersliderbox .bannerslidertext h2{ width:90%;}





.homeblock1{ padding:36px 0;}







.homeblock1 .container{ background:url(../images/homeblock1img.png) no-repeat center  top; min-height:inherit;  padding-right:0; padding-top:600px; font-size:16px; color:#171717; line-height:30px; font-family:'OpenSans-Regular'; width:90%; text-align:center; }



.homeblock1 .homeblocklink{ display:block; margin:17px auto; margin-bottom:0px; }



.homeblock1 .hobeblockdevider1{ margin:16px auto;}



    .homeblock2 .container{ width: 98%;}



    .homeblock2 .container .block2left{ padding: 28px 0px 0px 0; width: 100%; float: none;}



    .homeblock2 .container .block2left{ text-align: center; padding-bottom: 70px;}



    .homeblock2 .container .block2left h2{ margin: 0 0 15px 0; border-bottom: solid 3px #fb0000; border-left: none; padding: 0px 0 20px 0px; font-size: 36px; color: #2a2a2a; text-transform: uppercase;  font-family:'OpenSans-Regular';}





    .homeblock2 .block2leftright{ width: 100%; margin: 0 auto; float: none; margin-bottom: 40px;}



    .homeblock3 .container{ width: 90%; text-align: center;}



    .homeblock3 .container h2 {

        border-bottom: 3px solid #fb0000;

        border-left: medium none;



        margin: 0 0 15px;

        padding: 0 0 20px;

        text-transform: uppercase;

    }



    .homeblock4 .container{ width: 90%; text-align: center;}



    .homeblock4 .block4_text1{ width: 100%;}



    .block4_text2{ float: none; margin: 0 auto; margin-top: 25px; text-align: left;}



    .block4img{ display: block;  position: inherit; right: 0; bottom:0px; width: 490px; margin: 0 auto; margin-top: 35px;  }



    .homeblock5 .container{ width: 90%; padding:30px 0; text-align:center;}





    .homeblock5 .container  h2{ margin: 0 0 15px 0; border-bottom: solid 3px #fb0000; border-left: none; padding: 0px 0 20px 0px; }





    .homeblock5 .block5_bottomblock {
        height: auto;
        width: 580px;
        margin: 18px auto;
        margin-bottom: 8px;
    }

    .homeblock5 .block5_bottomblock .block5div{    height: 219px;
        width: 267px; background-size: 267px!important; }







    .homeblock5 .block5_bottomblock .block5div:nth-child(3){ border-top: none;}

    .homeblock5 .block5_bottomblock .block5div:nth-child(4){ border-top: none;  }



    .homeblock6 .container{ width: 90%;}



    .homeblock6 .container h3{ padding: 0;}



    .homeblock7{ width: 100%; position: relative;  background: url("../images/block7img.png") no-repeat  right top; background-size: 1199px; height: 479px;}



    .homeblock7 .container{ width: 90%;}



    .homecontactblock .container{ width: 90%;}



    .banh_block1{ width: 90%;}



    .banh_block1 .banh_block1_left{ margin: 0; padding: 0; width: 100%; float: none;}



    .banh_block1 .banh_block1_left .banh_block1_left_block2 h2{ text-align: center;}

    .banh_block1 .banh_block1_left .banh_block1_left_block2 .banh_block1_left_block2_textcon{ text-align: center;}



    .banh_block1 .banh_block1_left .banh_block1_left_block1{ width: 100%; display: block; height: auto;}



    .banh_block1 .banh_block1_right {

  width: 80%;

        margin: 20px auto;

        margin-bottom: 0px; float: none;

    }



    .banh_block2 {

        padding: 30px 0;

        width: 90%;

    }



    .banh_block3 .container {

        width: 90%;

    }







    .topnavbar .dropdown-menu {

        background: #aa1e23!important;



        box-shadow: none;

        float: none;

        margin-top: 0;

        position: static;

        width: auto; border-radius: 0px!important;

    }



    .topnavbar .dropdown-menu li{ border-radius: 5px!important;}

    .topnavbar .dropdown-menu li a{  border-radius: 0px!important;  padding: 10px!important; }



    .topnavbar .dropdown-menu li a:hover{  border-radius: 0px!important;}





    .innerslider{ width: 90%; margin-top: 20px;}



    .innerslider .carousel-control.right{top: 30%;}

    .innerslider .carousel-control.left{top: 30%;}





    .contantplas_block2 .contantplas_block2_text{ width: 100%; text-align: center; padding: 0px; float: none;}



    .contantplas_block2 .contantplas_block2_text h2{ border: none; padding-left: 0px;}



    .contantplas_block2 .contentpls_img2{ display: block; float: none; margin: 0 auto; margin-top: 20px; max-width: 100%;}



    .contentpls_body2{ text-align: center;}



    .contentpls_body2{ padding-bottom: 240px;}





    .productssidecar_block2{ width: 90%;}

    .sidecar_newblock{ width: 90%; text-align: center; margin-top: 25px;}

    .productssidecar_block2 .productssidecablock_text:nth-child(1){ background-position: 20px center; font-size: 20px;}

    .productssidecar_block2 .productssidecablock_text:nth-child(2){ background-position: 20px center; font-size: 20px;}

    .productssidecar_block2 .productssidecablock_text:nth-child(3){ background-position: 20px center; font-size: 20px;}

    .productssidecar_block2 .productssidecablock_text:nth-child(4){ background-position: 20px center; font-size: 20px;}

    .productssidecar_block2 .productssidecablock_text:nth-child(5){ background-position: 20px center; font-size: 20px;}

    .productssidecar_block2 .productssidecablock_text:nth-child(6){ background-position: 20px center; font-size: 20px;}

}


@media(max-width:1170px) {
.postsbycategorymain ul .titleb {
    color: #fb0000;
    font-family: "OpenSans-Semibold";
    font-size: 18px;
    padding: 0;
}

@media(max-width:1090px) {

    .referralbanner {
        background: url("../images/img-referrals.jpg") no-repeat -363px top;
    }

    .homeblock7{ width: 100%; position: relative;  background: url("../images/block7img.png") no-repeat  right top; background-size: 1090px; height: 435px;}



    .homeblock7 .container h2{ padding: 60px 0 0 0;}

    .datapartnerbanner {
        background: url("../images/img-bannerpartner.jpg") no-repeat -104px top;
    }
    .autobanbanner {
        background: url("../images/img-bannerautoban.jpg") no-repeat -480px top;
    }
    .postblog1 ul {
        height: 975px !important;
    }
}


@media(max-width:1090px) {
    .postblog1 ul {
        height: 1000px !important;
    }
}




@media(max-width:991px) {
    .postblog1 ul {
        height: auto !important;
        position: relative;
        display: block;
        width: 98% !important;
        margin-left: auto;
        margin-right: auto;
    }

    .postsbycategorymain ul .contentc h2{ height: auto;}
    .postsbycategorymain ul .contentc h2 .contentcimgwrapper {
        height: auto;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        float: none;
        display: inherit;
        vertical-align: middle;
    }

    .postblog1 ul:nth-child(2n) {
        float: none;
    }

}
    .postsbycategorymain .bottomsharethis {
        position: relative;
        display: block;
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }

    .postsbycategorymain .bottomsharethis {
        position: relative;
        bottom: 0px;
    }

    .bottomsharethis {
        position: relative;
        bottom: 0px;
    }
    a.blogreadmore {
        position: relative;
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .referralbanner .referralbannercontent {
        color: #fff;
        float: right;
        font-size: 14px;
        margin-right: 14px;
        max-width: 61%;
    }

    .referralbanner {
        background: rgba(0, 0, 0, 0) url("../images/img-referrals.jpg") no-repeat scroll 0px center / 150% top;
        height: auto; padding-top: 449px!important;
    }
    .referralbanner .referralbannercontent {
        color: #fff;
        float: none;
        font-size: 23px;
        margin-right: 0;
        max-width: 100%;
         background-color: #000000; padding:20px; text-align: center;
    }


    .autobanbanner{ height: auto; padding-top: 449px!important;   background: url("../images/img-bannerautoban.jpg") no-repeat -730px top;}

    .autobanbanner .autobanbannercontent {
        color: #fff;
        float: none!important;

        max-width: 100%!important;
        font-size: 23px;
        margin-right: 0;
       width: 100%!important;
        background: #000000; padding:20px!important; text-align: center!important;
    }

    .autobanbanner .autobanbannercontent p{ padding: 0px; text-align: center!important;}


    .sidecarbanner {
        background: url("../images/img-bannersidecar.jpg") no-repeat  -680px top;
        background-size: 1920px;
        height: auto; padding-top: 449px!important;
    }
    .sidecarbanner .sidecarbannercontent {
        color: #fff;
        float: none!important;

        max-width: 100%!important;
        font-size: 23px;
        margin: 0!important;
        width: 100%!important;
        background: #000000; padding:20px!important; text-align: center!important;
    }



    .contentplusbanner{ height: auto; padding-top: 449px!important;   background: url("../images/img-bannercontent.jpg") no-repeat -70px top;}

    .contentplusbanner .contentplusbannercontent {
        color: #fff;
        float: none!important;

        max-width: 100%!important;
        font-size: 23px;
        margin-right: 0;
        width: 100%!important;
        background: #000000; padding:20px!important; text-align: center!important;
    }

    .contentplusbanner .contentplusbannercontent p{ padding: 0px; text-align: center!important;}



    .nitronetsbanner {
        background: url("../images/img-bannernitronet.jpg") no-repeat  -111px top;
        background-size: 1920px;
        height: auto; padding-top: 449px!important;
    }


    .nitronetsbanner .nitronetbannercontent {
        color: #fff;
        float: none!important;

        max-width: 100%!important;
        font-size: 23px;
        margin: 0!important;
        width: 100%!important;
        background: #000000; padding:20px!important; text-align: center!important;
    }




    .datapartnerbanner {
        background: url("../images/img-bannerpartner.jpg") no-repeat  -39px top;
        background-size: 1920px;
        height: auto; padding-top: 449px!important;
    }
    .datapartnerbanner .datapartnerbannercontent {
        color: #fff;
        float: none!important;

        max-width: 100%!important;
        font-size: 23px;
        margin: 0!important;
        width: 100%!important;
        background: #000000; padding:20px!important; text-align: center!important;
    }





    .blogbanner {
        background: url("../images/img-bannerblog.jpg") no-repeat  -39px top;
        background-size: 1920px;
        height: auto; padding-top: 449px!important;
    }
    .blogbanner .blogbannercontent {
        color: #fff;
        float: none!important;

        max-width: 100%!important;
        font-size: 23px;
        margin: 0!important;
        width: 100%!important;
        background: #000000; padding:20px!important; text-align: center!important;
    }

    .blogbanner .blogbannercontent p{ padding: 0px;}







    .referrals_popupwrapper .modal-dialog { width:90%!important; }
    .referrals_popupwrapper .referrals_popup_con{ padding-top: 15px;}
    .referrals_popupwrapper .referrals_popup_con img{ width: 192px; float: none; display: block; margin: 0px auto;}

    .referrals_popupwrapper .referrals_popup_con .referrals_text{ width:100%; float: none; text-align: center;  }

    .referrals_popupwrapper .referrals_popup_con .referrals_text h3{ padding: 10px; text-align: center;}

    .referrals_popupwrapper .referrals_popup_con .referrals_text h2{ margin: 0px; }

    .referrals_popupwrapper .referrals_popup_con .referrals_text h2 label{ background-image: none; background-color: #dadada;  border-bottom: solid 3px #ec1d24; padding:10px 8px; margin: 0px; }



    .postsbycategorymain{ width: 90%; text-align: center;}

    .postsbycategorymain ul .contentc img{ display: block; margin: 10px auto;}

    .clientreferralsbox:nth-child(1) h6{ display: block; background: #a35c00;}

    .clientreferralsbox:nth-child(2) h6{ display: block; background: #e64010;}

    .clientreferralsbox:nth-child(3) h6 { display: block; background: #ee6bb1;}

    .clientreferralsbox:nth-child(4) h6{ display: block; background: #8969d8;}

    .clientreferralsbox:nth-child(5) h6{ display: block; background: #1aabe0;}

    .clientreferralsbox:nth-child(6) h6{ display: block; background: #22cfbc;}

    .clientreferralsbox:nth-child(7) h6{ display: block; background: #0f8c60;}

    .clientreferralsbox:nth-child(8) h6{ display: block; background: #b3da3f;}



    .clientreferralsbox{ width: 100%; background: #e4e4e4; border: solid 1px #c2c2c2; padding: 10px; height: auto;}
    .clientreferralslogobox{ display: none;}

    .clientreferralsbox .clientreferralsbox_text{ width: 100%!important; height: auto!important; max-width: inherit!important; text-align: center!important; padding: 0px!important; float: none!important;}

    .clientreferralspersonbox{ display: block!important; margin: 0 auto!important; position: inherit!important; top: 0!important; right: 0!important; float: none!important; text-align: center; height: auto; padding: 10px 0;}

    .clientreferralsbox .clientreferralsbox_text span{ display: block;}

.aboutstateiada_row1{ background-image:none; width:100%; height:auto; padding:10px;}

.aboutstateiada_row1 img{ display:block; margin:0 auto;}

.aboutstateiada_row1  h2{ display:block; float:none; padding:0 0; margin:10px 0 0 0; width:100%; text-align:center; }


.aboutstateiada_row1  h3{display:block; float:none; padding:0 0; margin:10px 0 0 0; width:100%; text-align:center;}

.aboutstateiada_row1  h4{ display:block; float:none; padding:0 0; margin:10px 0 0 0; width:100%; text-align:center;}


.aboutstateiada_row_botom_wrapper{ width:90%; margin:30px auto;}


.aboutstateiada_row_botom_wrapper .aboutstateiada_row2{ background-image:none; width:100%; height:auto; margin:8px auto; padding:10px; float:none;   }

.aboutstateiada_row_botom_wrapper .aboutstateiada_row2 img{display:block; margin:0 auto;}


.aboutstateiada_row_botom_wrapper .aboutstateiada_row2 .iada_rowtext1{ width:100%;  background: none; padding:0 0 0 0; height:auto; float:none; text-align:center;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row2 .iada_rowtext2{ width:100%; float:none; text-align:center; padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row2 .iada_rowtext1 h2{ padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row2 .iada_rowtext1 h3{  padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row2 .iada_rowtext2 h2{  padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row2 .iada_rowtext2 h3{  padding:10px 0 0 0;}


.aboutstateiada_row_botom_wrapper .aboutstateiada_row3{ background-image:none; width:100%; height:auto; margin:8px auto; padding:10px; float:none;   }

.aboutstateiada_row_botom_wrapper .aboutstateiada_row3 img{display:block; margin:0 auto;}


.aboutstateiada_row_botom_wrapper .aboutstateiada_row3 .iada_rowtext1{ width:100%;  background: none; padding:0 0 0 0; height:auto; float:none; text-align:center;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row3 .iada_rowtext2{ width:100%; float:none; text-align:center; padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row3 .iada_rowtext1 h2{ padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row3 .iada_rowtext1 h3{  padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row3 .iada_rowtext2 h2{  padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row3 .iada_rowtext2 h3{  padding:10px 0 0 0;}


.aboutstateiada_row_botom_wrapper .aboutstateiada_row4{ background-image:none; width:100%; height:auto; margin:8px auto; padding:10px; float:none;   }

.aboutstateiada_row_botom_wrapper .aboutstateiada_row4 img{display:block; margin:0 auto;}


.aboutstateiada_row_botom_wrapper .aboutstateiada_row4 .iada_rowtext1{ width:100%;  background: none; padding:0 0 0 0; height:auto; float:none; text-align:center;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row4 .iada_rowtext2{ width:100%; float:none; text-align:center; padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row4 .iada_rowtext1 h2{ padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row4 .iada_rowtext1 h3{  padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row4 .iada_rowtext2 h2{  padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row4 .iada_rowtext2 h3{  padding:10px 0 0 0;}




.aboutstateiada_row_botom_wrapper .aboutstateiada_row5{ background-image:none; width:100%; height:auto; margin:8px auto; padding:10px; float:none;   }

.aboutstateiada_row_botom_wrapper .aboutstateiada_row5 img{display:block; margin:0 auto;}


.aboutstateiada_row_botom_wrapper .aboutstateiada_row5 .iada_rowtext1{ width:100%;  background: none; padding:0 0 0 0; height:auto; float:none; text-align:center;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row5 .iada_rowtext2{ width:100%; float:none; text-align:center; padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row5 .iada_rowtext1 h2{ padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row5 .iada_rowtext1 h3{  padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row5 .iada_rowtext2 h2{  padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row5 .iada_rowtext2 h3{  padding:10px 0 0 0;}




.aboutstateiada_row_botom_wrapper .aboutstateiada_row6{ background-image:none; width:100%; height:auto; margin:8px auto; padding:10px; float:none;   }

.aboutstateiada_row_botom_wrapper .aboutstateiada_row6 img{display:block; margin:0 auto;}


.aboutstateiada_row_botom_wrapper .aboutstateiada_row6 .iada_rowtext1{ width:100%;  background: none; padding:0 0 0 0; height:auto; float:none; text-align:center;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row6 .iada_rowtext2{ width:100%; float:none; text-align:center; padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row6 .iada_rowtext1 h2{ padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row6 .iada_rowtext1 h3{  padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row6 .iada_rowtext2 h2{  padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row6 .iada_rowtext2 h3{  padding:10px 0 0 0;}



.aboutstateiada_row_botom_wrapper .aboutstateiada_row7{ background-image:none; width:100%; height:auto; margin:8px auto; padding:10px; float:none;   }

.aboutstateiada_row_botom_wrapper .aboutstateiada_row7 img{display:block; margin:0 auto;}


.aboutstateiada_row_botom_wrapper .aboutstateiada_row7 .iada_rowtext1{ width:100%;  background: none; padding:0 0 0 0; height:auto; float:none; text-align:center;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row7 .iada_rowtext2{ width:100%; float:none; text-align:center; padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row7 .iada_rowtext1 h2{ padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row7 .iada_rowtext1 h3{  padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row7 .iada_rowtext2 h2{  padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row7 .iada_rowtext2 h3{  padding:10px 0 0 0;}



.aboutstateiada_row_botom_wrapper .aboutstateiada_row8{ background-image:none; width:100%; height:auto; margin:8px auto; padding:10px; float:none;   }

.aboutstateiada_row_botom_wrapper .aboutstateiada_row8 img{display:block; margin:0 auto;}


.aboutstateiada_row_botom_wrapper .aboutstateiada_row8 .iada_rowtext1{ width:100%;  background: none; padding:0 0 0 0; height:auto; float:none; text-align:center;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row8 .iada_rowtext2{ width:100%; float:none; text-align:center; padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row8 .iada_rowtext1 h2{ padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row8 .iada_rowtext1 h3{  padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row8 .iada_rowtext2 h2{  padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row8 .iada_rowtext2 h3{  padding:10px 0 0 0;}




.aboutstateiada_row_botom_wrapper .aboutstateiada_row9{ background-image:none; width:100%; height:auto; margin:8px auto; padding:10px; float:none;   }

.aboutstateiada_row_botom_wrapper .aboutstateiada_row9 img{display:block; margin:0 auto;}


.aboutstateiada_row_botom_wrapper .aboutstateiada_row9 .iada_rowtext1{ width:100%;  background: none; padding:0 0 0 0; height:auto; float:none; text-align:center;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row9 .iada_rowtext2{ width:100%; float:none; text-align:center; padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row9 .iada_rowtext1 h2{ padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row9 .iada_rowtext1 h3{  padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row9 .iada_rowtext2 h2{  padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row9 .iada_rowtext2 h3{  padding:10px 0 0 0;}




.aboutstateiada_row_botom_wrapper .aboutstateiada_row10{ background-image:none; width:100%; height:auto; margin:8px auto; padding:10px; float:none;   }

.aboutstateiada_row_botom_wrapper .aboutstateiada_row10 img{display:block; margin:0 auto;}


.aboutstateiada_row_botom_wrapper .aboutstateiada_row10 .iada_rowtext1{ width:100%;  background: none; padding:0 0 0 0; height:auto; float:none; text-align:center;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row10 .iada_rowtext2{ width:100%; float:none; text-align:center; padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row10 .iada_rowtext1 h2{ padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row10 .iada_rowtext1 h3{  padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row10 .iada_rowtext2 h2{  padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row10 .iada_rowtext2 h3{  padding:10px 0 0 0;}




.aboutstateiada_row_botom_wrapper .aboutstateiada_row11{ background-image:none; width:100%; height:auto; margin:8px auto; padding:10px; float:none;   }

.aboutstateiada_row_botom_wrapper .aboutstateiada_row11 img{display:block; margin:0 auto;}


.aboutstateiada_row_botom_wrapper .aboutstateiada_row11 .iada_rowtext1{ width:100%;  background: none; padding:0 0 0 0; height:auto; float:none; text-align:center;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row11 .iada_rowtext2{ width:100%; float:none; text-align:center; padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row11 .iada_rowtext1 h2{ padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row11 .iada_rowtext1 h3{  padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row11 .iada_rowtext2 h2{  padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row11 .iada_rowtext2 h3{  padding:10px 0 0 0;}



.aboutstateiada_row_botom_wrapper .aboutstateiada_row12{ background-image:none; width:100%; height:auto; margin:8px auto; padding:10px; float:none;   }

.aboutstateiada_row_botom_wrapper .aboutstateiada_row12 img{display:block; margin:0 auto;}


.aboutstateiada_row_botom_wrapper .aboutstateiada_row12 .iada_rowtext1{ width:100%;  background: none; padding:0 0 0 0; height:auto; float:none; text-align:center;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row12 .iada_rowtext2{ width:100%; float:none; text-align:center; padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row12 .iada_rowtext1 h2{ padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row12 .iada_rowtext1 h3{  padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row12 .iada_rowtext2 h2{  padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row12 .iada_rowtext2 h3{  padding:10px 0 0 0;}



.aboutstateiada_row_botom_wrapper .aboutstateiada_row13{ background-image:none; width:100%; height:auto; margin:8px auto; padding:10px; float:none;   }

.aboutstateiada_row_botom_wrapper .aboutstateiada_row13 img{display:block; margin:0 auto;}


.aboutstateiada_row_botom_wrapper .aboutstateiada_row13 .iada_rowtext1{ width:100%;  background: none; padding:0 0 0 0; height:auto; float:none; text-align:center;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row13 .iada_rowtext2{ width:100%; float:none; text-align:center; padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row13 .iada_rowtext1 h2{ padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row13 .iada_rowtext1 h3{  padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row13 .iada_rowtext2 h2{  padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row13 .iada_rowtext2 h3{  padding:10px 0 0 0;}



.aboutstateiada_row_botom_wrapper .aboutstateiada_row14{ background-image:none; width:100%; height:auto; margin:8px auto; padding:10px; float:none;   }

.aboutstateiada_row_botom_wrapper .aboutstateiada_row14 img{display:block; margin:0 auto;}


.aboutstateiada_row_botom_wrapper .aboutstateiada_row14 .iada_rowtext1{ width:100%;  background: none; padding:0 0 0 0; height:auto; float:none; text-align:center;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row14 .iada_rowtext2{ width:100%; float:none; text-align:center; padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row14 .iada_rowtext1 h2{ padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row14 .iada_rowtext1 h3{  padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row14 .iada_rowtext2 h2{  padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row14 .iada_rowtext2 h3{  padding:10px 0 0 0;}



.aboutstateiada_row_botom_wrapper .aboutstateiada_row15{ background-image:none; width:100%; height:auto; margin:8px auto; padding:10px; float:none;   }

.aboutstateiada_row_botom_wrapper .aboutstateiada_row15 img{display:block; margin:0 auto;}


.aboutstateiada_row_botom_wrapper .aboutstateiada_row15 .iada_rowtext1{ width:100%;  background: none; padding:0 0 0 0; height:auto; float:none; text-align:center;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row15 .iada_rowtext2{ width:100%; float:none; text-align:center; padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row15 .iada_rowtext1 h2{ padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row15 .iada_rowtext1 h3{  padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row15 .iada_rowtext2 h2{  padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row15 .iada_rowtext2 h3{  padding:10px 0 0 0;}



.aboutstateiada_row_botom_wrapper .aboutstateiada_row16{ background-image:none; width:100%; height:auto; margin:8px auto; padding:10px; float:none;   }

.aboutstateiada_row_botom_wrapper .aboutstateiada_row16 img{display:block; margin:0 auto;}


.aboutstateiada_row_botom_wrapper .aboutstateiada_row16 .iada_rowtext1{ width:100%;  background: none; padding:0 0 0 0; height:auto; float:none; text-align:center;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row16 .iada_rowtext2{ width:100%; float:none; text-align:center; padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row16 .iada_rowtext1 h2{ padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row16 .iada_rowtext1 h3{  padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row16 .iada_rowtext2 h2{  padding:10px 0 0 0;}

.aboutstateiada_row_botom_wrapper .aboutstateiada_row16 .iada_rowtext2 h3{  padding:10px 0 0 0;}


.about_niada_text1 h2{ text-align:center; border:none; padding-left:0px;}

.about_niada_text1 h3{ text-align:center;}

.about_niada_2{ max-width: 100%; display:block; margin:0 auto;}

.about_niada_text2{ width:100%; text-align:center; margin-left:0px; text-align:center; padding:30px 10px;}

.about_niada_text3{ width:100%; background:none; text-align:center; margin-left:0px; width:100%; padding:0;  margin-bottom: 0; } 


.about_niada_text3 .about_niada_text3_left{  width:100%; float:none;}
.about_niada_text3 .about_niada_text3_left ul{ margin:0; padding: 0 0;}



.about_niada_text3 .about_niada_text3_left ul li{ font-size: 18px; color: #212020; font-style: italic; font-family: "OpenSans-Semibold";   margin: 0; padding:5px; text-align:center; display:block; width:100%; border-top:solid 1px #fff;}

.about_niada_text3 .about_niada_text3_left ul li:nth-child(1){ background:#fdd2af;}
.about_niada_text3 .about_niada_text3_left ul li:nth-child(2){ background:#fce0a3;}
.about_niada_text3 .about_niada_text3_left ul li:nth-child(3){ background:#f1fca9;}
.about_niada_text3 .about_niada_text3_left ul li:nth-child(4){ background:#b9fca9;}

.about_niada_text3 .about_niada_text3_left ul li:nth-child(5){ background:#aafce2;}
.about_niada_text3 .about_niada_text3_left ul li:nth-child(6){ background:#a9e4fc;}
.about_niada_text3 .about_niada_text3_left ul li:nth-child(7){ background:#a9c0fc;}

.homebannerslider .bannersliderbox .sliderimg{ width:200%;}


.about_niada_text3 .about_niada_text3_right{ width: 304px; float: none; margin: 25px auto; margin-bottom:0px;}


    .homeblock7{ width: 100%; position: relative;  background: url("../images/block7img.png") no-repeat  right top; background-size: 200%; height: auto; padding-top: 75%; }



    .homeblock7 .block7text{ background: #000201; padding-bottom: 85px; text-align: center;}



    .homeblock7 .container h2::after{ margin: 23px auto;}



    .block7btnwrapper{ width: 428px; margin: 0 auto;}





    .homecontactleft{ padding: 0px; text-align: center;}



    .homecontactblock .container  h2{ margin: 0 0 15px 0; border-bottom: solid 3px #fb0000; border-left: none; padding: 0px 0 20px 0px; }



    .homecontactright{ padding: 20px 0 0 0px;}



    .banh_block2 .banh_block2_text:nth-child(1){  border-radius: 10px 10px 0 0;}

    .banh_block2 .banh_block2_text:nth-child(2){  border-radius: 0;}

    .banh_block2 .banh_block2_text:nth-child(9){  border-radius: 0;}

    .banh_block2 .banh_block2_text:nth-child(10){  border-radius: 0 0 10px 10px ;}


    .banh_block2 .banh_block2_text:nth-child(1){ border-right:none;}

    .banh_block2 .banh_block2_text:nth-child(3){ border-right:none;}
    .banh_block2 .banh_block2_text:nth-child(5){ border-right:none;}
    .banh_block2 .banh_block2_text:nth-child(7){ border-right:none;}
    .banh_block2 .banh_block2_text:nth-child(9){ border-right:none;}

    .banh_block1 .banh_block1_right{ width: 100%;}



    .banh_block3 .block3_imgbg1{ background-position: center top; padding: 180px 0 10px 0; text-align: center;}

    .banh_block3 .block3_imgbg2{ background-position: center top; padding: 180px 0 10px 0; text-align: center;}

    .banh_block3 .block3_imgbg3{ background-position: center top; padding: 180px 0 10px 0; text-align: center;}

    .banh_block3 .block3_imgbg4{ background-position: center top; padding: 180px 0 10px 0; text-align: center;}



    .banh_block3 .banh_block3_text h2{ margin: 0 0 15px 0; border-bottom: solid 3px #fb0000; border-left: none; padding: 0px 0 20px 0px;}



    .contantplas_block1 .contentpls_img1{ display: block; margin: 0 auto; max-width: 100%; float: none; border:none}



    .contantplas_block1{ background: none;}



    .contantplas_block1_text{ float: none; display: block; width: 100%!important; text-align: center; padding:20px 10px!important; text-align: center; background: #416e81; margin-top: 20px;}

    .contantplas_block1 .contantplas_block1_text h2{ margin-top: 0px;}







    .productssidecar_block2 .productssidecablock_text:nth-child(1){ background-position:  center 10px; font-size: 20px; border-right: none; border-left: none; padding-top: 60px;}

    .productssidecar_block2 .productssidecablock_text:nth-child(2){ background-position:  center 10px; font-size: 20px;  border-right: none; border-left: none; padding-top: 60px;}

    .productssidecar_block2 .productssidecablock_text:nth-child(3){ background-position:  center 10px; font-size: 20px;  border-right: none; border-left: none; padding-top: 60px;}

    .productssidecar_block2 .productssidecablock_text:nth-child(4){ background-position:  center 10px; font-size: 20px;  border-right: none; border-left: none; padding-top: 60px;}

    .productssidecar_block2 .productssidecablock_text:nth-child(5){ background-position:  center 10px; font-size: 20px;  border-right: none; border-left: none; padding-top: 60px; border-bottom: solid 1px #fff;}

    .productssidecar_block2 .productssidecablock_text:nth-child(6){ background-position:  center 10px; font-size: 20px;  border-right: none; border-left: none; padding-top: 60px;}



}







@media(max-width:860px) {



    .homeblock3 .block3_gallerybody .gallery3box{ width: 50%; border: solid 1px #000000; border-left: none; padding: 0;}





    .homeblock3 .block3_gallerybody .gallery3box:nth-child(3){ border-top:none}

    .homeblock3 .block3_gallerybody .gallery3box:nth-child(4){ border-top:none}

    .homeblock3 .block3_gallerybody .gallery3box:nth-child(5){ border-top:none}





    .block4_text2{ float: none; margin: 0 auto; margin-top: 25px; text-align: center; width: 100%}



    .block4_text2 .text2block1{ height: auto; background: url("../images/block4icon1.png") no-repeat  center top; border: none;  padding: 60px 0px 14px 0px; width: 100%; float: none; margin: 0;}





    .block4_text2 .text2block2{ height: auto; background: url("../images/block4icon2.png") no-repeat  center top; border: none;  padding: 50px 0px 14px 0px; width: 100%; float: none;  margin:20px 0px;}





    .block4_text2 .text2block3{ height: auto; background: url("../images/block4icon3.png") no-repeat  center top;  padding: 50px 0px 14px 0px; width: 100%; float: none;  margin: 0px;}





    .productssidecar_text .ineerlogo1{ position: inherit; left: 0; top: 0; display: block; margin: 10px auto; margin-top: 20px;}



    .productssidecar_text h6{ padding:20px;}




}





@media(max-width:767px) {
    .contentplusbanner{   background: url("../images/img-bannercontent.jpg") no-repeat -460px top;}

    .nitronetsbanner {
        background: url("../images/img-bannernitronet.jpg") no-repeat  -434px top;}
    .sidecarbanner {
        background: url("../images/img-bannersidecar.jpg") no-repeat left -970px top;}


    .datapartnerbanner {
        background: url("../images/img-bannerpartner.jpg") no-repeat  -148px top;}


    .homepostblog1{float: none;  margin-left: auto; margin-right: auto; width: 97%;}
    .homeblock22 .block2right .homepostblog1 .block2rightconbox {
        border-left: medium none;
        float: left;
        height: 543px !important;
        width: 50%;
    }
    .blogimghome {
        width: 332px;
    }

    .homeblock22 .block2right .block2rightconbox {
        width: 50%;
        float: left;
        height: 426px;
    }

    .homeblock22 .block2right h3 {
        border-bottom: 3px solid #fb0000;
        border-left: medium none;
        text-align: center;
    }


    .banh_block4{ padding-left: 5px; padding-right: 5px;}

    .banh_block4 h3{ line-height: 30px;}



.navbar-header{ border-bottom:none!important;}



.topnavbar ul{ margin:0!important; padding:0!important;}



.homebannerslider .bannersliderbox .sliderimg{ width:300%;}





.homeblock1 .container{ background-size:100%; padding-top:106%; }



    .homeblock2 .block2leftright{ width: 480px; margin: 0 auto; float: none; margin-bottom: 40px;}



    .homeblock2 .block2leftright .block2conbox{ width: 50%; float: left; border:solid 1px #292929; border-left:none;  height: 210px; background: #8c9295;}





    .homeblock2 .block2leftright .block2conbox:nth-child(3), .block2conbox:nth-child(4),.homeblock2 .block2leftright .block2conbox:nth-child(5),.homeblock2 .block2leftright .block2conbox:nth-child(6){ border-top: none; }



.mainfooter{ padding-left: 0px!important; padding-right: 0px!important; width: 100%!important; text-align:center;}



    .innertopbanner .innerbannertextcon{ width: 300px;}

    .innertopbanner .innerbannertextcon h2{ width: 300px;}



    .footermenu{ padding: 0 0 20px 0;}

    .footermenu ul li{ float: none; width: 100%; display: block; margin: 0 auto; border-bottom: solid 1px #bbbbbb;}

    .footermenu ul li:last-of-type{ border: none;}

    .footermenu ul li a{ font-size: 18px; display: block; text-align: center; padding: 10px 0;}





    .footermenu .dropdown-menu {

        background: #bbbbbb !important; background-image: none; padding:0!important;



        box-shadow: none;

        float: none;

        margin-top: 0;

        position: static;

        width: auto; border-radius: 0px!important; border: none;

    }



    .footermenu .dropdown-menu li{ border-radius: 0px!important; }



    .footermenu .dropdown-menu li a{ border-top: solid 1px #2e3133;}



    .footermenu .dropdown-menu li a{  border-radius: 0px!important;  padding: 10px!important; }



    .footermenu .dropdown-menu li a:hover{  border-radius: 0px!important;}



    .footersociallink{ width:106px; margin:0 auto; text-align: center;}



    .footersociallink a{ display:inline-block; margin:5px!important;}



    .footertext{ width: auto; padding-left: 5px; padding-right: 5px;}



    .productsstandardhosting_blocktop h2{ display: block; width: 100%; text-align: center; background-position: center top; padding: 45px 0 0 0; float: none;}



    .productsstandardhosting_blocktop .inner3logo{ display: block; float: none; margin:10px auto; margin-top: 20px;}



    .innerslider .carousel-control.right { background-size: 100%; width: 40px; height: 40px;

        top: 25%;   right: -43px;

    }



    .innerslider .carousel-control.left {

        background-size: 100%; width: 40px; height: 40px;

        top: 25%;   left: -43px;

    }



    .innerslider .row-fluid div img {

        padding: 0 1px;

        width: 100%;

    }



    .innerslider .well {

        background-color: #e2e2e2;

        border: 1px solid #cac6c6;

        border-radius: 0;

        box-shadow: none;

        margin: 5px 0 25px;

        padding: 3px 1px 1px 1px;

        position: relative;

    }



    .innerslider .carousel-control.left {

        background-size: 100%;

        display: block;

        height: 40px;

        left: 0;

        position: inherit;

        top: 0;

        width: 40px;

    }



    .innerslider .carousel-control.left {

        background-size: 100%;

        display: block;

        height: 40px;

        left: 0;

        position: inherit;

        top: 0;

        width: 40px;

        float: left; margin: 20px 2px; margin-bottom: 30px;

    }



    .innerslider .carousel-control.right {

        background-size: 100%;

        display: block;

        height: 40px;

        right: 0;

        position: inherit;

        top: 0;

        width: 40px; float: right;

        float: left; margin: 20px 2px; margin-bottom: 30px;

    }



    .carousel-controlmenu{ display: block; width: 90px; margin: 0px auto; clear: both;}

    .homeblock22 .block2right .block2rightconbox {
        width: 49%;
        float: left;
        height: auto;
    }
    .homeblock22 .block2right .block2rightconbox:nth-child(1),.homeblock22 .block2right .block2rightconbox:nth-child(2){border-bottom: none;}
    .homeblock22 .block2right .block2rightconbox:nth-child(3){border-left: 1px solid #292929;}


}

@media(max-width:640px) {


    .homeblock5 .block5_bottomblock {
        height: auto;
        width: 290px;
        margin: 18px auto;
        margin-bottom: 8px;
    }




    .autobanbanner .autobanbannercontent {
     padding-top: 25%;
    font-size: 18px;
 }


    .sidecarbanner .sidecarbannercontent{ font-size: 18px;}

    .referralbanner .referralbannercontent{ font-size: 18px;}
    .datapartnerbanner .datapartnerbannercontent { font-size: 18px;}

    .nitronetsbanner .nitronetbannercontent{ font-size: 18px;}

    .contentplusbanner .contentplusbannercontent { font-size: 18px;}

    .blogbanner .blogbannercontent{ font-size: 18px;}

}

@media(max-width:560px) {

    .autobanbanner{ height: auto; padding-top: 449px!important;   background: url("../images/img-bannerautoban.jpg") no-repeat -850px top;}


    .homeblock22 .block2right .homepostblog1 .block2rightconbox {
        width: 79%;
        float: none;
        height: 543px !important;
        background: #fff;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border: solid 1px #292929;
        border-left: none;
    }
    .blogimghome {
        width: 415px;
    }
    .autobanbanner .autobanbannercontent {
        padding-top: 20%;
    }
.homebannerslider .bannersliderbox .sliderimg{ width:400%;}
    .homeblock22 .block2right .homepostblog1 .block2rightconbox:nth-child(1),.homeblock22 .block2right .homepostblog1 .block2rightconbox:nth-child(2),
    .homeblock22 .block2right .homepostblog1 .block2rightconbox:nth-child(3), .homeblock22 .block2right .homepostblog1 .block2rightconbox:nth-child(4){
        border-left: 1px solid #292929;
    }




    .homeblock2 .block2leftright{ width: 280px; margin: 0 auto; float: none; margin-bottom: 40px; border-right:solid 1px #292929; }



    .homeblock2 .block2leftright .block2conbox{ width: 100%; float: none; border:solid 1px #292929; border-left:none;  border-right:none;   height: 234px; overflow: hidden; padding-bottom: 40px; background: #8c9295;}

    .homeblock2 .block2leftright .block2conbox:nth-child(2), .block2conbox:nth-child(3), .block2conbox:nth-child(4),.homeblock2 .block2leftright .block2conbox:nth-child(5),.homeblock2 .block2leftright .block2conbox:nth-child(6){ border-top: none; }





    .block4img{ width: 90%;}



/*    .homeblock5 .block5_bottomblock .block5div{ width: 100%; height: 460px;}*/



    .homeblock5 .block5_bottomblock .block5div:nth-child(2){ border-top: none;  }



    .homecontactright .form-group1{ width: 100%; float: none; margin-bottom: 10px;}



    .homecontactright .form-group2{ width:  100%; float: none; margin-bottom: 10px;}





}



@media(max-width:480px) {





    .homeblock22 .block2right .block2rightconbox {
        width: 100%;
        float: left;
        height: auto;
    }
    .homeblock22 .block2right .block2rightconbox .homeblocklinksml {
        margin: 10px 0 20px;
    }
    .homeblock22 .block2right .block2rightconbox:first-of-type{border-top:solid 1px #292929; }
    .homeblock22 .block2right .block2rightconbox{border-top: none;}
    .homeblock22 .block2right .block2rightconbox:nth-child(3),.homeblock22 .block2right .block2rightconbox:nth-child(4){border-left:1px solid #292929;}
    .homeblock22 .block2right .block2rightconbox:nth-child(2){border-top:1px solid #292929;}
.block7btnwrapper{ width: 100%; margin: 0 auto; margin-top: 35px;}

    .homeblock22 .block2right .block2rightconbox .homeblocklinksml {
        margin: 20px auto;
    }


    .homeblock7 .container .block7text1{ margin: 0 auto; float: none;}



    .homeblock7 .container .block7text2{ margin: 0 auto; float: none;  margin-top: 10px;}





.homebannerslider .bannersliderbox .sliderimg{ width:500%;}



.homebannerslider .bannersliderbox .bannerslidertext h1{ font-size:40px;}



.homebannerslider .bannersliderbox .bannerslidertext h1:after{  margin-top:30px; margin-bottom:28px;}



    .gallery3viewall a{ font-size: 16px;}



    .productsstandardhosting_block2 td h2 {



        font-family: "OpenSans-Semibold";

        font-size: 14px !important;

        margin: 0;

        padding: 0 0 0 20px;

    }



    .productsstandardhosting_block2 td{  font-size: 14px !important;}



    .contentpls_body2 {

        background-position: -240px bottom;

        background-size: 530px auto;

        padding-bottom: 160px;

    }



    .banh_block4 h4{ font-size: 26px;}



    .banh_block2 .banh_block2_text {

        color: #0f0f0f;

        font-family: "OpenSans-Semibold";

        font-size: 17px;

        padding: 18px 10px 18px 37px;

        text-align: center;

        text-transform: uppercase;

    }

}



@media(max-width:400px) {





    .productsstandardhosting_block1 .ineer3img1 {

        border: 1px solid #afafaf;

        display: block;

        float: none;

        margin: 0 auto; margin-bottom: 10px;

    }



    .productsstandardhosting_block1{ text-align: center;}

    .homebannerslider .bannersliderbox .bannerslidertext h3{ font-size: 26px;}

    .homebannerslider .bannersliderbox .bannerslidertext h2{ font-size: 20px;
        line-height: 28px;}

}



@media(max-width:360px) {



.homebannerslider .bannersliderbox .sliderimg{ width:600%;}







}

@media(max-width:920px) {

.referrals_newblog_wrapper {

    margin: 0 auto;
    margin-bottom: 25px;
    width: 100%;

}

    .referrals_newblog_wrapper .referralblog_left{ width: 170px; height: 200px; float: none; margin: 0 auto; margin-bottom: 10px;}
    .referrals_newblog_wrapper .referralblog_right{ width: 100%; height: auto; float: right; border: solid 1px #b9c0bb; position: relative; padding: 20px;}

    .referrals_newblog_wrapper .referralblog_right h2{ background: none; text-align: center; padding: 10px; margin: 0px;}

    .referrals_newblog_wrapper .referralblog_right a{ width: 210px; height: 44px; position: inherit; right: 0px; bottom: 0px; display: block; margin: 0 auto; margin-top: 20px; text-align: left; }




}