@font-face {

    font-family:'Shonar-Bangla';

    src: url('../fonts/Shonar.ttf') format('truetype');

    font-style: normal;

    font-stretch: normal;

}





/*------partnersdata-------*/

.partnersdata_body{}

.partnersdata_block1{ width: 96.1%; background: #fff; border-top: 1px solid #e5e6e6; border-left: 1px solid #e5e6e6;}

.partnersdata_body2{padding-bottom: 110px; margin: 0px 0 32px; font-size: 16px; color: #333333; line-height: 30px; font-family: "OpenSans-Regular";}

.partnersdatabox {

    padding: 15px;

}

.partnersdatabox:nth-child(odd) {

    border-right: 1px solid #e5e6e6;

    border-bottom: 1px solid #e5e6e6;

}

.partnersdatabox:nth-child(odd):nth-last-child(2) {

    border-bottom: 0px solid #e5e6e6;

}



.partnersdata_block1 .partnersdatabox:nth-last-child(1) {

    border-bottom: 0px

}



.partnersdata_block1 .partnersdatabox:nth-last-child(2) {

    border-bottom: none;

}

.partnersdata_block1 .partnersdatabox:last-of-type {

    border-bottom: none;

}



.partnersdatabox:nth-child(even) {

    border-right: 1px solid #e5e6e6;

    border-bottom: 1px solid #e5e6e6;

}



.partnersdata_block2{border-top: 1px solid #e5e6e6;}

.partnersdatabox .partnersdatalogobox{width: 138px; height: 112px; border:1px solid #d2d2d2; background: #fff; padding: 2px;float: left; display: flex; align-items: center; justify-content: center}

.partnersdatabox .partnersdatalogobox img { margin: 0 auto; width: 100%; display: block;}

.partnersdatabox .partnersdatabox_text { width: 230px;  float: left; padding-left: 7px; padding-right: 7px; height: 112px; display: table;}

.partnersdatabox .partnersdatabox_text span {display: table-cell; vertical-align: middle;}

.partnersdatabox .partnersdatabox_text h3{font-size: 19px; color: #202020; line-height: 24px; text-transform: uppercase; font-family: "OpenSans-Semibold";margin-top: 0px; margin-bottom: 0px;}

.partnersdatabox .partnersdatabox_text h5{font-size: 13px; color: #202020; line-height: 20px; text-transform: uppercase; font-family: "OpenSans-Semibold";margin-top: 0px; margin-bottom: 0px;}

.partnersdatabox .partnersdatabox_text a{font-size: 10px; color: #7802bc; line-height: 18px; text-decoration: underline; font-family: "OpenSans-Semibold";margin-top: 0px; margin-bottom: 0px;}

.partnersdata_block2{ width: 1200px; background: #fff; border-left: 1px solid #e5e6e6;margin-bottom: 30px;}





/*------NitroNet DPS-------*/

.nitronetdps_body{}

.nitronetdps_block1{ width: 100%; background: #fff;}

.nitronetdps_block2{ width: 1200px; background: #fff;}

.nitronetdps_block1 img {vertical-align: middle; max-width: 100%; display: block; margin-left: auto; margin-right: auto;}

.nitronetdps_block1 h2{font-size: 30px; color: #000000; line-height: 30px; text-transform: uppercase; font-family: "OpenSans-Semibold"; text-align: center;}

.nitronetdps_block1 h2 span{color: #ff0000;}

.nitronetdps_block2{position: relative; height: 1670px;}

.nitronetdps_block2_left{position: absolute;

    float: left;

    left: 0px;

    top: -190px;

    width: 452px;

    padding: 0px;}

.nitronetdps_block2_center{position: absolute;top: -213px; right: 338px;}

.nitronetdps_block2_right{float: right;

    position: absolute;

    right: 0px;

    width: 452px;

    padding: 0px;}

.nitronetdps_block2_single{width:452px;}

.nitronetdps_block2_single h2{font-size: 20px; color: #232323; line-height: 33px; text-transform: uppercase; padding-left: 14px; font-family: "OpenSans-Semibold"; border-left:2px solid #fc0000;}

.nitronetdps_block2_single p{font-size: 16px; color: #393838; line-height: 30px; font-family: "OpenSans-Regular"; }

.nitronetdps_block2_single .divider{height: 2px; background-color: #e1e1e0; width: 100%; margin: 14px 0px;}





.nitronetdps_block3{margin-bottom: 32px; margin-top: 10px;}

.nitronetdps_block3_right{padding-left: 55px; float: right;}

.nitronetdps_block3_right h2{font-size: 60px; color: #e70505; line-height: 30px; font-family: "Shonar-Bangla";}

.nitronetdps_block3_right h2::first-letter {font-size: 200%; color: #e70505;}

.nitronetdps_block3_right h2 span{text-transform: uppercase;}

.nitronetdps_block3_right p{font-size: 24px; color: #696a6b; line-height: 30px; font-family: "OpenSans-Semibold"; }

.nitronetdps_block3_right p span{color:#252626;}

.nitronetdps_block3_right .divider{height: 2px; background-color: #e70505; width: 84px; margin: 14px 0px;}







/*------ABOUT OUR TEAM-------*/

.aboutteam .innertopbanner h2 {font-size: 45px;}

.at_banh_block1{ width: 100%; margin: 0 auto; padding: 30px 0 0 0; background: url(../images/contactteam_block1_right_car.png) no-repeat right bottom;}

.at_banh_block1 .container{ width:1200px;}

.at_banh_block1 .at_banh_block1_left{ margin: 0; padding: 0; width: 494px; float: left;background: #fff;}

.at_banh_block1 .at_banh_block1_left .at_banh_block1_left_block1{ width: 494px; min-height: 175px; border-left:3px solid #ec1d24; padding-left: 21px;}

.at_banh_block1 .at_banh_block1_left .at_banh_block1_left_block1 h3{font-size: 36px; margin-top: 0; margin-bottom: 10px; line-height: 26px; font-family:'OpenSans-Bold'; color:#000000; text-transform: uppercase;}

.at_banh_block1 .at_banh_block1_left .at_banh_block1_left_block1 h3 span{color:#f90202;}

.at_banh_block1 .at_banh_block1_left .at_banh_block1_left_block1 ul{list-style: none; margin: 0; padding: 0;}

.at_banh_block1 .at_banh_block1_left .at_banh_block1_left_block1 ul li{ margin: 0; padding: 0; font-size: 24px; display: block; line-height: 36px; font-family:'OpenSans-Semibold'; color:#000000;}

.at_banh_block1 .at_banh_block1_left .at_banh_block1_left_block1 ul li span{color:#6c6c6c;}





.at_banh_block1 .at_banh_block1_right{ margin: 0; padding: 0; width: 706px; float: right;   height: 284px; }

.at_banh_block1 .at_banh_block1_right .at_banh_block1_right_block1{ width: 706px; min-height: 175px; border-left:3px solid #c5c5c5; padding-left: 21px; }

.at_banh_block1 .at_banh_block1_right .at_banh_block1_right_block1 h4{font-size: 24px; margin-top: 0; margin-bottom: 10px; line-height: 18px; font-family:'OpenSans-Semibold'; color:#000000; text-transform: uppercase;}

.at_banh_block1 .at_banh_block1_right .at_banh_block1_right_block1 h4 span{color:#f90202;}



.at_banh_block1 .at_banh_block1_right .at_banh_block1_right_block1 ul{list-style: none; margin: 0; padding: 0;}

.at_banh_block1 .at_banh_block1_right .at_banh_block1_right_block1 ul li{ margin: 0; padding: 0; font-size: 18px; display: block; line-height: 24px; font-family:'OpenSans-Semibold'; color:#373737;}


.at_banh_block3_wrapper h2,h5,.links{ position:relative; z-index:99;}




.at_banh_block2{width: 1200px; margin: 0 auto; padding: 16px 0 0 0;}

.at_banh_block2 .at_banh_block2_left{ margin: 0; padding: 0; width: 494px; float: left;background: #fff;}

.at_banh_block2 .at_banh_block2_left h3{font-size: 36px; margin-top: 0; margin-bottom: 10px; line-height: 26px; font-family:'OpenSans-Regular'; color:#000000; text-transform: uppercase;}

.at_banh_block2 .at_banh_block2_left h3 span{font-family:'OpenSans-Semibold'; color:#ff0000;}







.at_banh_block3{width: 1200px; margin: 0 auto; padding: 16px 0 0 0;}

.at_banh_block3 .at_banh_block3_left{ margin: 0; padding: 0; width: 100%; float: left;background: #fff;}

.at_banh_block3_wrapper{min-height: 1435px; padding: 0px; top: -55px;}

.at_banh_block3_row1 {height: 267px; width: 50%; position: relative; float: right; padding: 0px;}

.at_banh_block3_row1_left{height: 232px; width:267px; float: left; z-index: 9; left: -26px; position: absolute;}

.at_banh_block3_row1_right {height: 115px;width: 440px; float: right; background-color: #e0e0e0; position: absolute; right: 0px;  top: 117px; padding-left: 117px;}

.at_banh_block3_row1_right h3{text-transform: uppercase; font-size: 22px; color: #000000; line-height: 26px; font-family: "OpenSans-Semibold"; margin-top: 10px; margin-bottom: 5px;}

.at_banh_block3_row1_right h5{font-size: 15px; color: #000000; line-height: 18px; font-family: "OpenSans-Regular";  margin: 0px;}

.at_banh_block3_row1_right .links{color:#061fb7; text-decoration: underline; font-size: 16px; line-height: 20px; font-family: "OpenSans-Semibold"; }





.at_banh_block3_row2 {height: 267px; width: 50%; position: relative; float: left; padding: 0px; top: 124px;}

.at_banh_block3_row2_left {height: 115px; width: 440px; float: left; background-color: #e0e0e0;  position: absolute;  left: 0px;  top: 117px; padding-right: 117px; text-align: right; }

.at_banh_block3_row2_left h3{text-transform: uppercase; font-size: 22px; color: #000000; line-height: 26px; font-family: "OpenSans-Semibold"; margin-top: 10px; margin-bottom: 5px;}

.at_banh_block3_row2_left h5{font-size: 15px; color: #000000; line-height: 18px; font-family: "OpenSans-Regular";  margin: 0px;}

.at_banh_block3_row2_right{height: 232px; width:267px; float: right; z-index: 9; right: -26px; position: absolute;}

.at_banh_block3_row2_left .links{color:#061fb7; text-decoration: underline; font-size: 16px; line-height: 20px; font-family: "OpenSans-Semibold"; }



.mt{margin-top: -16px;}



#partners1{display: block;}

#partners{display: none;}



.aboutstateiada_top{ background: url(../images/aboutstateiada_pagelogo.png) no-repeat left center; margin-bottom:30px; font-family: "OpenSans-Semibold"; font-size:19px; color:#000000; text-transform:uppercase; padding: 18px 0 18px 160px;}


@media (max-width: 1199px){

.partnersdatabox{ width:20%; padding:5px;}

.partnersdatabox .partnersdatalogobox{ float:none; margin:0 auto;}

.partnersdatabox .partnersdatabox_text { width:100%; text-align:center; float:none;  word-break: break-all;}

.partnersdatabox .partnersdatabox_text h3{ font-size:15px; line-height:18px;}

.partnersdata_body{ padding-top:35px;}

.aboutstateiada_top{ background: url(../images/aboutstateiada_pagelogo.png) no-repeat top center; margin-bottom:30px; font-family: "OpenSans-Semibold"; font-size:19px; color:#000000; text-transform:uppercase; padding: 75px 0 0 0; text-align:center;}


.at_banh_block1 .container{ width:90%;}

    .partnersdata_block2 {width: 90%;}

    .partnersdata_block1 {width: 100%;}

    .partnersdata_block2 .partnersdatabox:nth-child(3) {border-top: 0px solid #e5e6e6;}

    .nitronetdps_block2 {width: 90%;}

    .partnersdata_block2 {width: 90%; border-top:1px solid #e5e6e6; margin-top: 0px;}

    .nitronetdps_block1{width: 90%;}

    .nitronetdps_block2_single {width: 100%;}

    .nitronetdps_block2_left {position: relative; float: none;  width: 100%; left: 0; top: 0;}

    .nitronetdps_block2_center {position: relative; top: 0px; right: 0px; text-align: center;}

    .nitronetdps_block2_right {float: left; position: relative; right: 0;}

    .nitronetdps_block3_left{text-align: center;}

    .nitronetdps_block3_right {padding-left: 0px; float: left;}

    .nitronetdps_block2_left {top: 0; left: 0;}

    .nitronetdps_block3 {width: 90%;}

    .nitronetdps_block2_right {width: 100%;}



    .at_banh_block1 .at_banh_block1_left {

        width: 100%;

        margin-bottom: 30px;

    }

    .at_banh_block1 .at_banh_block1_right {

        width: 100%;

        float: left;

        margin-left: auto;

        margin-right: auto;

        text-align: center;

    }

    .at_banh_block1 .at_banh_block1_left .at_banh_block1_left_block1 {

        width: 100%;

        min-height: 175px;



        border-left: 0px solid #ec1d24;

        padding-top: 21px;

        padding-left: 0px;

        text-align: center;

    }

    .at_banh_block1 .at_banh_block1_left {

        width: 100%;

        margin-bottom: 30px;

        margin-left: auto;

        margin-right: auto;

    }



    .at_banh_block1 .at_banh_block1_right .at_banh_block1_right_block1 {

        width: 100%;

        min-height: 175px;

        border-top: 3px solid #c5c5c5;

        padding-top: 30px;

        border-left: 0px solid #c5c5c5;

        padding-left: 0px;

    }



    .at_banh_block1 {

        width: 100%;

        margin: 0 auto;

    }



    .at_banh_block1 .at_banh_block1_right {

        height: 410px;

    }

    .at_banh_block2 {

        width: 90%;

        margin: 0 auto;

        text-align: center;

    }

    .at_banh_block2 .at_banh_block2_left {

        width: 100%;

    }

    .mt {

        margin-top: 0px;

    }

    .at_banh_block3_wrapper {

        min-height: 1435px;

        padding: 0px;

        top: 0px;

    }

    .at_banh_block3_row1 {

        width: 100%;

    }

    .at_banh_block3 {

        width: 90%;

        margin: 0 auto;

        padding: 16px 0 0 0;

    }

    .at_banh_block3_row1_left {

        left: 0px;

    }

    .at_banh_block3_row1_right {

        width: 84%;

    }

    .at_banh_block3_row2 {

        width: 100%;

        top: 0px;

    }

    .at_banh_block3_row2_left {

        width: 84%;

    }

    .at_banh_block3_row2_right {

        right: 0px;

    }

    .at_banh_block3_row1_right {

        padding-left: 180px;

    }

    .at_banh_block3_row2_left {

        padding-right:180px;

    }

    #partners1{display: none;}

    #partners{display: block;

        width: 90%;

        margin: 10px auto 0px;}



}



@media (max-width: 640px){

  .at_banh_block1 .at_banh_block1_left .at_banh_block1_left_block1 h3{ line-height:40px;}
  .at_banh_block1 .at_banh_block1_right .at_banh_block1_right_block1 h4{ line-height:28px;}
  
  .at_banh_block2 .at_banh_block2_left h3{ line-height:38px;}


.at_banh_block3_row2_right{ position:inherit!important; display:block; margin:0 auto!important; left:0!important; top:0!important; right:0!important; float:none!important;}

.at_banh_block3_row2_left{ width:100%; padding:10px 10px 30px 10px; text-align:center; position:inherit!important; float:none!important; left:0!important; top:0!important; right:0!important;  height:auto;}


.at_banh_block3_row1_left{ position:inherit!important; display:block; margin:0 auto!important; left:0!important; top:0!important; right:0!important; float:none!important;}

.at_banh_block3_row1_right{ width:100%; padding:10px 10px 30px 10px; text-align:center; position:inherit!important; float:none!important; left:0!important; top:0!important; right:0!important; height:auto; }

.at_banh_block3_row1{ height:auto; margin-bottom:20px;}

.at_banh_block3_row2{ height:auto; margin-bottom:20px;}


}



@media (max-width: 479px) {

    .partnersdatabox .partnersdatalogobox {

        margin-left: auto;

        margin-right: auto;

        float: none;

    }

    .partnersdatabox {

        padding: 15px;

        text-align: center;

    }

    .partnersdatabox .partnersdatabox_text {

        height: 64px;

        margin-left: auto;

        margin-right: auto;

        float: none;

    }
	
	.at_banh_block1{ background: url(../images/contactteam_block1_right_car.png) no-repeat  right bottom; background-size:320px;}
	
	
	    .at_banh_block1 .at_banh_block1_right {

        height: auto; padding-bottom:160px;
		margin-bottom:30px;

    }

}



@media (max-width: 991px) {
.partnersdatabox{ width:50%; padding:5px;}

}



@media (max-width: 480px) {
.partnersdatabox{ width:100%; padding:5px;}
}

